 {
  :deps {
         org.clojure/clojure {:mvn/version "1.10.0"}
         org.clojure/tools.cli {:mvn/version "0.4.1"}
         org.martinklepsch/clj-http-lite {:mvn/version "0.4.1"}
         com.rpl/specter {:mvn/version "1.1.1"}
         com.taoensso/timbre {:mvn/version "4.10.0"}
         cheshire {:mvn/version "5.8.0"}}

  :paths ["src" "test"]

  :aliases {
            :bench {:extra-deps {criterium {:mvn/version "0.4.4"}}}
            :nrepl {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.12"}}
                    :main-opts ["-e" "(require,'[clojure.tools.nrepl.server,:refer,[start-server]]),(start-server,:port,5555)"]}
            :test {:extra-deps {eftest {:mvn/version "0.5.2"}}
                   :main-opts ["-e" "(require,'[eftest.runner,:refer,[find-tests,run-tests]]),(run-tests,(find-tests,\"test\"))"]}
            :native-image
                      {:main-opts ["-m clj.native-image githubid.core"
                                   "-H:Name=githubid"
                                   "--report-unsupported-elements-at-runtime"
                                   "--enable-url-protocols=http,https"
                                   "-Dclojure.compiler.direct-linking=true"]
                       :extra-deps {clj.native-image {:git/url "https://github.com/taylorwood/clj.native-image.git"
                                                      :sha "d97f25aa153e0f94139f5d03e60a345151815d4d"}}}}}

